<%- include('partials/header') %>

<div class="container-fluid bg-dark">
  <div class="row">
    <div class="col-sm-2">
      <%- include('partials/same',{page_name:'home'}) %>
    </div>
    <div class="col-sm-10">
      <div class="mt-5 text-center">
        <img
          src="images/profile.jpg"
          alt="image"
          class="image-fluid border border-4 border-light"
          width="200"
          height="200"
        />
      </div>
      <div>
        <h1 class="text-white">Hello,</h1>
        <p class="indent text-white">
          i am <b class="name">waqas ishaq</b> and i have a 6 years experience
          in full stack development and i am a self taught web developer. i am a
          self taught web developer and i am a self taught web developer.
        </p>
        <p class="text-white">
          since earning my bachelor degree in computer science i have been
          working in the field of web development.since in 6th semester i have
          been working in the field of artifical intelligence and machine
          learning.in my free time i am a self taught machine learning. i have
          done various projects in the field of machine learning
        </p>
        <p class="text-white">
          machine learning is a field of artificial intelligence that applies
          machine learning techniques to problems in the real world,and is a
          sub-field of artificial intelligence. reactjs and angularjs are the
          most popular front end frameworks.
        </p>
      </div>
      <div class="text-center mt-5 mb-3">
        <button class="first">Hire Me</button>
        <button class="second">Contact</button>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') %>
