<%- include('partials/header') %>

<div class="container-fluid bg-dark">
  <div class="row">
    <div class="col-sm-2">
      <%- include('partials/same',{page_name:'services'}) %>
    </div>
    <div class="col-sm-10">
      <div class="container-fluid border-1 border-bottom">
        <h2 class="services mt-4">Services</h2>
      </div>

      <div class="row text-white text-center mt-4">
        <div class="col-sm-4">
          <div class="text-warning fs-4"><i class="fas fa-search"></i></div>
          <div class="fs-3">Seo</div>
          <div class="detail">
            welcome in seo and search engine optimization enjoy it hahaahhahah
          </div>
        </div>
        <div class="col-sm-4">
          <div class="text-warning fs-4"><i class="far fa-dungeon"></i></div>
          <div class="fs-3">Web Design</div>
          <div class="detail">
            welcome in seo and search engine optimization enjoy it hahaahhahah
          </div>
        </div>
        <div class="col-sm-4">
          <div class="text-warning fs-4"><i class="fas fa-code"></i></div>
          <div class="fs-3">Web Development</div>
          <div class="detail">
            welcome in seo and search engine optimization enjoy it hahaahhahah
          </div>
        </div>
      </div>

      <div class="row text-white text-center mt-4">
        <div class="col-sm-4">
          <div class="text-warning fs-4"><i class="fas fa-search"></i></div>
          <div class="fs-3">Seo</div>
          <div class="detail">
            welcome in seo and search engine optimization enjoy it hahaahhahah
          </div>
        </div>
        <div class="col-sm-4">
          <div class="text-warning fs-4"><i class="far fa-dungeon"></i></div>
          <div class="fs-3">Web Design</div>
          <div class="detail">
            welcome in seo and search engine optimization enjoy it hahaahhahah
          </div>
        </div>
        <div class="col-sm-4">
          <div class="text-warning fs-4"><i class="fas fa-code"></i></div>
          <div class="fs-3">Web Development</div>
          <div class="detail">
            welcome in seo and search engine optimization enjoy it hahaahhahah
          </div>
        </div>
      </div>

      <div class="row text-white text-center mt-4">
        <div class="col-sm-4">
          <div class="text-warning fs-4"><i class="fas fa-search"></i></div>
          <div class="fs-3">Seo</div>
          <div class="detail">
            welcome in seo and search engine optimization enjoy it hahaahhahah
          </div>
        </div>
        <div class="col-sm-4">
          <div class="text-warning fs-4"><i class="far fa-dungeon"></i></div>
          <div class="fs-3">Web Design</div>
          <div class="detail">
            welcome in seo and search engine optimization enjoy it hahaahhahah
          </div>
        </div>
        <div class="col-sm-4">
          <div class="text-warning fs-4"><i class="fas fa-code"></i></div>
          <div class="fs-3">Web Development</div>
          <div class="detail">
            welcome in seo and search engine optimization enjoy it hahaahhahah
          </div>
        </div>
      </div>

      <div class="row text-white text-center mt-4 mb-4">
        <div class="col-sm-4">
          <div class="text-warning fs-4"><i class="fas fa-search"></i></div>
          <div class="fs-3">Seo</div>
          <div class="detail">
            welcome in seo and search engine optimization enjoy it hahaahhahah
          </div>
        </div>
        <div class="col-sm-4">
          <div class="text-warning fs-4"><i class="far fa-dungeon"></i></div>
          <div class="fs-3">Web Design</div>
          <div class="detail">
            welcome in seo and search engine optimization enjoy it hahaahhahah
          </div>
        </div>
        <div class="col-sm-4">
          <div class="text-warning fs-4"><i class="fas fa-code"></i></div>
          <div class="fs-3">Web Development</div>
          <div class="detail">
            welcome in seo and search engine optimization enjoy it hahaahhahah
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
